<div id="reg-app" class="reg-app">
  <div class="target">
    <div class="high-controls">
      <button class="expand-fullscreen naked control "><img src="/assets/images/full.png" width="15px"
          height="15px"></button>
      <button class="compress-fullscreen naked control is-hidden"><img src="/assets/images/full.png" width="15px"
          height="15px"></button>
    </div>
    <div class="low-controls">
      <button class=" raise-hand naked control">🤚</button>
      <button class=" raise-god naked control">😇</button>
    </div>
  </div>
  <div class="slide-control">
    <div class="owl-carousel owl-theme">
      <!--ME-->
      <!--COVER-->
      <div class="slide">
        <div class="cover">
          <img src="/assets/images/logo.png" class="logo">
          <h1 class="calistoga-regular">The Pursuit</h1>
          <p class="staatliches-regular">how we find our way to peace</p>
        </div>
      </div>
      <div class="slide">
        <div class="bible">
          <h1 class="calistoga-regular">Psalm 34:14</h1>
          <p class="staatliches-regular">
            Turn from evil and do good; seek peace and pursue it.
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="bible">
          <h1 class="calistoga-regular">Seek</h1>
          <p class="staatliches-regular">
            to go in search of
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="bible">
          <h1 class="calistoga-regular">Pursue</h1>
          <p class="staatliches-regular">
            follow in order to catch or attack them
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="qr">
          <img src="/assets/images/qr.png">
          <p class="staatliches-regular">pursuit.elevatechurchva.org</p>
        </div>
      </div>
      <!--WE-->
      <!--Sin-->
      <div class="slide">
        <div class="header">
          <h1 class="calistoga-regular">Sin and Disobedience</h1>
        </div>
      </div>

      <!--Worldly-->
      <div class="slide">
        <div class="header">
          <h1 class="calistoga-regular">Worldly Concerns</h1>
        </div>
      </div>
      <!--Neglect-->
      <div class="slide">
        <div class="header">
          <h1 class="calistoga-regular">Neglecting God's Word</h1>
        </div>
      </div>
      <!--Warfare-->
      <div class="slide">
        <div class="header">
          <h1 class="calistoga-regular">Spiritual Warfare</h1>
        </div>
      </div>
      <!--Lack of Empathy-->
      <div class="slide">
        <div class="header">
          <h1 class="calistoga-regular">Self-Centeredness and Lack of Empathy</h1>
        </div>
      </div>
      <!--Trust-->
      <div class="slide">
        <div class="header">
          <h1 class="calistoga-regular">Lack of Trust in God</h1>
        </div>
      </div>
      <!--Trails-->
      <div class="slide">
        <div class="header">
          <h1 class="calistoga-regular larger">&nbsp;&nbsp;&nbsp;&nbsp;Trials&nbsp;&nbsp;&nbsp;&nbsp;</h1>
        </div>
      </div>
      <!--END-->
      <div class="slide"></div>
      <!--GOD-->
      <!--Repent-->
      <div class="slide">
        <div class="header">
          <h1 class="calistoga-regular">Repentance and Confession</h1>
        </div>
      </div>
      <div class="slide">
        <div class="bible">
          <h1 class="calistoga-regular">1 John 1:8-10</h1>
          <p class="staatliches-regular">
            <sup>8</sup> If we say that we have no sin, we deceive ourselves, and the truth is not in us. <sup>9</sup>
            If we confess our sins, He is
            faithful and just to forgive us our sins and cleanse us from all unrighteousness. <sup>10</sup> If we say
            that we have not sinned,
            we make Him a liar and His word is not in us.
          </p>
        </div>
      </div>
      <!--Fellowship-->
      <div class="slide">
        <div class="header">
          <h1 class="calistoga-regular larger">Fellowship</h1>
        </div>
      </div>
      <div class="slide">
        <div class="bible">
          <h1 class="calistoga-regular">Hebrews 10:24-25</h1>
          <p class="staatliches-regular">
            <sup>24</sup> And let us consider how we may spur one another on toward love and good deeds, <sup>25</sup>
            not giving up meeting together, as
            some are in the habit of doing, but encouraging one another—and all the more as you see the Day approaching.
          </p>
        </div>
      </div>
      <!--Scripture-->
      <div class="slide">
        <div class="header">
          <h1 class="calistoga-regular larger">Scripture</h1>
        </div>
      </div>
      <div class="slide">
        <div class="bible">
          <h1 class="calistoga-regular">Psalm 119:105</h1>
          <p class="staatliches-regular">
            Your word is a lamp for my feet, a light on my path.
          </p>
        </div>
      </div>
      <!--Prayer-->
      <div class="slide">
        <div class="header">
          <h1 class="calistoga-regular larger">Prayer</h1>
        </div>
      </div>
      <div class="slide">
        <div class="bible">
          <h1 class="calistoga-regular">Philippians 4:4-9</h1>
          <p class="staatliches-regular">
            <sup>4</sup> Rejoice in the Lord always. I will say it again: Rejoice! <sup>5</sup> Let your gentleness be
            evident to all. The Lord is near.
            <sup>6</sup> Do not be anxious about anything, but in every situation, by prayer and petition, with
            thanksgiving, present your
            requests to God. <sup>7</sup> And the peace of God, which transcends all understanding, will guard your
            hearts and your minds in
            Christ Jesus.
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="bible">
          <h1 class="calistoga-regular">Philippians 4:4-9</h1>
          <p class="staatliches-regular">
            <sup>8</sup> Finally, brothers and sisters, whatever is true, whatever is noble, whatever is right, whatever
            is pure, whatever is
            lovely, whatever is admirable—if anything is excellent or praiseworthy—think about such things. <sup>9</sup>
            Whatever you have
            learned or received or heard from me, or seen in me—put it into practice. And the God of peace will be with
            you.
          </p>
        </div>
      </div>
      <!--Submission-->
      <div class="slide">
        <div class="header">
          <h1 class="calistoga-regular larger">Submission</h1>
        </div>
      </div>
      <div class="slide">
        <div class="bible">
          <h1 class="calistoga-regular">Proverbs 3:5-6</h1>
          <p class="staatliches-regular">
            <sup>5</sup> Trust in the Lord with all your heart and lean not on your own understanding; <sup>6</sup> in
            all your ways submit to him, and he
            will make your paths straight
          </p>
        </div>
      </div>
      <!--END-->
      <div class="slide"></div>
    </div>
  </div>
  <div class='stage' id="stage"></div>
</div>
<script>
  var users = {{{ json users }}};
</script>